body{

font-family:Arial;

background:#eeeeee;

text-align:center;

}


h1{

color:#0066cc;

}


nav{

background:black;

padding:20px;

}


nav a{

color:white;

margin:15px;

text-decoration:none;

}
